.selection-result {
  padding-bottom: 8px;
}

.selection-result__caption {
  .without-indentation;

  margin-bottom: 12px;

  font-weight: 700;
  font-size: 22px;
  font-family: @font-main;
  color: @text-color;
}
