.header {
  background-color: rgb(255, 255, 255);
}

.header__container {
  position: relative;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 40px;
}

.header__logo {
  font-weight: 700;
  font-size: 16px;
  line-height: 2.043;
  font-family: @font-main;
  text-align: left;
  color: rgb(0, 0, 0);
  letter-spacing: 0.05em;
}

.header__button {
  width: 18px;
  height: 14px;

  background: url("../img/button-menu.svg") no-repeat;
  border: none;
}

.header__navigation {
  display: none;
  margin-top: -1px;
}

.header__menu-list {
  .reset-list;

  position: absolute;
  left: 0;
  z-index: 1;
}

.header__tel {
  display: none;
}

@media @tablet {
  .header__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .header__inner {
    justify-content: flex-end;
    width: 138px;
    min-height: 60px;
  }

  .header__logo {
    font-size: 20px;
    line-height: 2;
  }

  .header__button {
    width: 26px;
    height: 20px;
    margin-left: 26px;

    background-size: contain;
  }

  .header__navigation {
    margin-top: 0;
  }

  .header__tel {
    display: block;
    margin-right: 26px;

    font-weight: 700;
    font-size: 15px;
    font-family: @font-extra;
    color: @text-color;
  }

  .header__menu-list {
    margin-top: 30px;
  }
}

@media @desktop {
  .header {
    background-color: transparent;
    padding-top: 41px;
  }

  .header__container {
    justify-content: flex-start;
  }

  .header__inner {
    width: auto;
    margin-right: 42px;
  }

  .header__logo {
    font-size: 23.24px;
  }

  .header__button {
    display: none;
  }

  .header__navigation {
    display: block;
    margin-top: 11px;
  }

  .header__tel {
    margin-right: 0;
    margin-top: 11px;
  }

  .header__menu-list {
    position: static;
    margin-top: 0;
  }
}
