html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
body {
  margin: 0 auto;
  padding: 20px;
  font-weight: 400;
  font-size: 16px;
  font-family: "Times New Roman";
}
.b-ground {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  animation: breath 100s ease 20s infinite;
}
.lessons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.button {
  z-index: 1;
  min-width: 125px;
  height: 25px;
  padding: 0 10px;
  font-weight: 700;
  font-family: serif;
  color: #ffffff;
  font-style: 16px;
  background-image: linear-gradient(0deg, #005b74, #01233c);
  border: none;
  border-radius: 50px;
  outline: none;
  box-shadow: 2px 1px 7px #263125;
  cursor: pointer;
}
.button:focus {
  background-image: linear-gradient(120deg, #ffba08, #d00000 27%, #3f88c5 84%);
}
.button:active {
  background-image: linear-gradient(120deg, #a67800, #6f0000 27%, #26557d 84%);
  box-shadow: none;
}
.button:hover ~ .window > .window-code {
  display: none;
}
.button + .button {
  margin-top: 10px;
}
.window {
  position: fixed;
  top: 10%;
  right: 25%;
  width: 50vw;
  min-height: 35vw;
  padding: 50px;
  background-color: white;
  box-shadow: inset 0 -300px 300px -300px #7a7781, 1px 1px 5px -2px #e63946;
}
.window > p {
  display: none;
  margin: 0;
}
.window-code {
  display: block;
  width: 100%;
  white-space: pre;
}
.lesson-1:hover ~ .window > .lesson-1,
.lesson-2:hover ~ .window > .lesson-2,
.lesson-3:hover ~ .window > .lesson-3,
.lesson-4:hover ~ .window > .lesson-4,
.lesson-5:hover ~ .window > .lesson-5,
.lesson-6:hover ~ .window > .lesson-6,
.lesson-7:hover ~ .window > .lesson-7,
.lesson-8:hover ~ .window > .lesson-8,
.lesson-9:hover ~ .window > .lesson-9,
.lesson-10:hover ~ .window > .lesson-10,
.lesson-11:hover ~ .window > .lesson-11,
.lesson-12:hover ~ .window > .lesson-12,
.lesson-13:hover ~ .window > .lesson-13 {
  display: block;
}
svg {
  position: fixed;
  top: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}
ellipse {
  position: absolute;
  animation: move 50s cubic-bezier(1, 0, 0, 0.5) 0s infinite normal;
  fill: none;
  stroke: #005b74;
  stroke-opacity: 0;
  stroke-width: 2px;
}
@keyframes breath {
  3% {
    transform: scale(1);
  }
  4.5% {
    transform: scale(1.004);
  }
  6% {
    transform: scale(1);
  }
}
@keyframes move {
  4.2% {
    stroke-opacity: 0;
  }
  5% {
    rx: 60px;
    ry: 40px;
    stroke-opacity: 0.3;
  }
  5.2% {
    stroke-opacity: 0;
  }
  36% {
    transform: scale(1.04);
    rx: 100px;
    ry: 34px;
    stroke-opacity: 0;
  }
  36.1% {
    transform: scale(1.04);
    cx: 75%;
    cy: 40%;
    rx: 100px;
    ry: 34px;
    stroke-opacity: 0.5;
  }
  36.2% {
    stroke-opacity: 0.2;
  }
  36.3% {
    stroke-opacity: 0.07;
  }
  36.4% {
    stroke-opacity: 0.3;
  }
  36.5% {
    stroke-opacity: 0;
  }
  36.7% {
    transform: rotate(4deg);
    stroke-opacity: 0.1;
  }
  37% {
    stroke-opacity: 0;
  }
  69% {
    cx: 5%;
    cy: 80%;
    rx: 800px;
    ry: 4px;
  }
  69.2% {
    stroke-opacity: 0.1;
  }
  69.5% {
    stroke-opacity: 0.4;
  }
  69.6% {
    cx: 5%;
    cy: 78%;
    stroke-opacity: 0.2;
  }
  69.7% {
    cx: 5%;
    cy: 80%;
    stroke-opacity: 0.4;
  }
  69.8% {
    stroke-opacity: 0;
  }
}
