html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -moz-box-sizing: inherit;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  padding: 20px;
  font-family: "Times New Roman";
  font-weight: 400;
  font-size: 16px;
}

.b-ground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  opacity: 0.5;
}

.lessons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.button {
  z-index: 1;
  min-width: 125px;
  height: 25px;
  padding: 0 10px;
  font-family: serif;
  font-style: 16px;
  font-weight: 700;
  color: #fff;
  background-image: linear-gradient(5deg, #005B74, #01233C);
  border-radius: 50px;
  border: none;
  box-shadow: 2px 1px 7px #263125;
  cursor: pointer;

  &:hover ~ .window > .window-code {
    display: none;
  }

  & + & {
    margin-top: 10px;
  }
}

.window-code {
  display: block;
  width: 100%;
  white-space: pre;
}

.window {
  position: fixed;
  top: 10%;
  right: 25%;
  width: 35vw;
  min-height: 25vw;
  padding: 20px;
  background-color: white;
  box-shadow:
    inset 0px -300px 300px -300px #7A7781,
    1px 1px 5px -2px #E63946;

  & > p {
    display: none;
    margin: 0;
  }
}

.lesson {

  &-1:hover ~ .window > &-1,
  &-2:hover ~ .window > &-2,
  &-3:hover ~ .window > &-3,
  &-4:hover ~ .window > &-4,
  &-5:hover ~ .window > &-5,
  &-6:hover ~ .window > &-6 {
    display: block;
  }
}
