@font-face {
  font-family: "PlayfairDisplay";
  src: url("../fonts/playfairdisplay-bold.woff2") format("woff2"),
    url("../fonts/playfairdisplay-bold.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "PlayfairDisplay";
  src: url("../fonts/playfairdisplay-bolditalic.woff2") format("woff2"),
    url("../fonts/playfairdisplay-bolditalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto-regular.woff2") format("woff2"),
    url("../fonts/roboto-regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Circe";
  src: url("../fonts/circe-regular.woff2") format("woff2"),
    url("../fonts/circe-regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Circe";
  src: url("../fonts/circe-bold.woff2") format("woff2"),
    url("../fonts/circe-bold.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "IntroScriptR";
  src: url("../fonts/introscriptr-h2base.woff2") format("woff2"),
    url("../fonts/introscriptr-h2base.woff") format("woff");
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/opensans-light.woff2") format("woff2"),
    url("../fonts/opensans-light.woff") format("woff");
  font-weight: 300;
}
