.confectioner {
  font-size: 14px;
  font-family: @font-extra;
  color: @text-color;
}

.confectioner__caption {
  .without-indentation;

  margin-bottom: 7px;

  font-weight: 400;
  font-size: 22px;
  font-family: @font-fourth;
  color: rgb(50, 49, 61);
}

.confectioner__list {
  .reset-list;
}

.confectioner__termin {
  margin-bottom: 9px;

  font-weight: 700;
}

.confectioner__description {
  width: 100.5%;
  margin-bottom: 15px;
  margin-left: 0;

  font-weight: 400;
  line-height: 1.2;
}

@media @tablet {
  .confectioner {
    padding-right: 374px;
  }

  .confectioner__caption {
    font-size: 26px;
  }

  .confectioner__termin {
    margin-bottom: 7px;

    font-size: 15px;
  }

  .confectioner__description {
    margin-bottom: 10px;
  }
}
