.order {
  padding-top: 30px;
  padding-bottom: 126px;

  color: rgb(255, 255, 255);

  background: rgb(218, 37, 52) url("../img/bg-gift-mobile.png") no-repeat center bottom;

  counter-reset: order;
}

.order__title {
  .without-indentation;

  margin-bottom: 35px;

  font-weight: 700;
  font-size: 24px;
  font-family: @font-main;
  text-align: center;
}

.order__list {
  .without-indentation;

  margin-left: 46px;
}

.order__termin {
  position: relative;

  margin-bottom: 5px;

  font-weight: 700;
  font-size: 15px;
  font-family: @font-extra;
  letter-spacing: 0.02em;

  counter-increment: order;

  &::before {
    content: counter(order);
    position: absolute;
    top: -15px;
    left: -26px;

    font-weight: 700;
    font-size: 35px;
    font-family: @font-main;
  }
}

.order__descripiont {
  .without-indentation;

  margin-bottom: 20px;
  padding-right: 10px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.25;
  font-family: @font-extra;
}

@media @tablet {
  .order {
    padding-top: 47px;
    padding-bottom: 39px;

    background-image: url("../img/bg-gift-t.png");
  }

  .order__container {
    padding-left: 327px;
  }

  .order__title {
    font-size: 28px;
    text-align: left;
  }

  .order__list {
    width: 375px;
    margin-left: 42px;
  }

  .order__termin {
    margin-bottom: 3px;

    &::before {
      top: -16px;
      left: -41px;

      font-size: 36px;
    }
  }

  .order__descripiont {
    margin-bottom: 29px;

    &:first-of-type {
      width: 265px;
    }

    &:last-of-type {
      width: 215px;
    }
  }
}

@media @desktop {
  .order {
    padding-top: 117px;
    padding-bottom: 151px;

    background-image: url("../img/bg-gift-d.png");
    background-position: center top;
  }

  .order__container {
    padding-left: 828px;
  }

  .order__title {
    margin-bottom: 43px;

    font-size: 40px;
  }

  .order__termin {
    font-size: 21px;

    &::before {
      top: -26px;
      left: -45px;

      font-size: 64.25px;
    }
  }

  .order__descripiont {
    width: 470px;
    margin-bottom: 32px;
    padding-right: 0;

    font-size: 20px;

    &:first-of-type {
      width: 365px;
    }

    &:last-of-type {
      width: 425px;
    }
  }
}

@media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
  .order {
    background-image: url("../img/bg-gift-mobile@2x.png");
    background-size: 320px auto;

    @media @tablet {
      background-image: url("../img/bg-gift-t@2x.png");
      background-size: auto 100%;
    }

    @media @desktop {
      background-image: url("../img/bg-gift-d@2x.png");
    }
  }
}
