.info-about {

}

.info-about__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.info-about__title {
  .without-indentation;
  text-align: center;
  width: 100%;
  order: -3;
}

.info-about__confectioner {

}

.info-about__social {
  order: -1;
  .reset-list;
  font-size: 0;
}

.info-about__social-item {

}

.info-about__social-link {

}

.info-about__image {
  order: -2;
}

.info-about__quote {

}
