.production__title {
  .without-indentation;
  font-family: @font-main;
  font-size: 24px;
  letter-spacing: 0.01em;
  color: @text-color;
  text-align: center;
  margin-bottom: 32px;
}

// .production__inner {

// }

.production .production__list {
  .reset-list;
}

.production__item {
  margin-bottom: 10px;
}


// .production__grade {

// }
