.advantages {
  margin-bottom: 35px;

  color: @text-color;
}

.advantages__title {
  .without-indentation;

  margin-bottom: 6px;

  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  font-family: @font-main;
  text-align: center;
}

.advantages__subtitle {
  display: block;
  margin-bottom: 12px;

  font-size: 22px;
  font-family: @font-fourth;
  text-align: center;
  color: rgb(50, 49, 61);
}

.advantages__inner {
  padding-top: 10px;
  padding-bottom: 17px;

  background-color: rgb(255, 255, 255);
}

.advantages__list {
  .reset-list;

  display: flex;
  flex-direction: column;
  align-items: center;

  font-weight: 400;
  font-family: @font-extra;
  color: rgb(0, 0, 0);
}

.advantages__termin {
  position: relative;

  margin-top: 71px;

  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  text-align: center;

  &:first-of-type::before {
    content: "";
    position: absolute;
    top: -69px;
    right: 50%;

    width: 61px;
    height: 61px;

    background: url("../img/cereals-big-mobile.png") no-repeat center;
    background-size: cover;
    transform: translateX(50%);
  }

  &:last-of-type::before {
    content: "";
    position: absolute;
    top: -57px;
    right: 50%;

    width: 84px;
    height: 50px;

    background: url("../img/gift-big-mobile.png") no-repeat center;
    background-size: cover;
    transform: translateX(50%);
  }

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    &:first-of-type::before {
      background: lime;
    }

    &:last-of-type::before {
      background-image: url("../img/gift-big-mobile.png");
    }
  }
}

.advantages__description {
  margin-left: 0;
  padding: 0 30px;

  font-size: 14px;
  text-align: center;

  &:last-child {
    padding: 0 50px;
  }
}

@media @tablet {
  .advantages {
    position: relative;

    margin-bottom: 180px;

    &::before {
      content: url("../img/down-berries.png");
      position: absolute;
      top: 8px;
      left: 0;
    }
  }

  .advantages__title {
    margin-bottom: 7px;

    font-size: 28px;
  }

  .advantages__subtitle {
    margin-bottom: 46px;

    font-size: 26px;
  }

  .advantages__inner {
    background-color: transparent;
  }

  .advantages__list {
    align-items: flex-start;
    width: 400px;
    margin-left: 309px;
    padding-left: 130px;
  }

  .advantages__termin {
    margin: 0;
    margin-bottom: 5px;

    font-size: 15px;
    text-align: left;

    &:first-of-type::before {
      top: 0;
      right: 125%;

      background: url("../img/cereals-big-t.png") no-repeat center;
    }

    &:last-of-type::before {
      top: 6px;
      right: 123%;

      background: url("../img/gift-big-t.png") no-repeat center;
    }
  }

  .advantages__description {
    margin-bottom: 6px;
    padding: 0;

    text-align: left;
    letter-spacing: 0.008em;

    &:last-child {
      padding: 0;
    }
  }
}

@media @desktop {
  .advantages {
    margin-bottom: 351px;

    &::before {
      content: url("../img/down-berries-d.png");
      top: -24px;
      left: 0;
    }
  }

  .advantages__title {
    margin-right: 15px;
    margin-bottom: 34px;

    font-size: 40px;
  }

  .advantages__subtitle {
    margin-bottom: 116px;

    font-size: 35px;
  }

  .advantages__list {
    width: 510px;
    margin-left: 579px;
    padding-left: 120px;
  }

  .advantages__termin {
    font-size: 20px;

    &:first-of-type::before {
      top: 11px;
      right: 120%;

      background: url("../img/cereals-big-d.png") no-repeat center;
    }

    &:last-of-type::before {
      top: 6px;
      right: 103%;

      transform: scale(61 / 48);
    }
  }

  .advantages__description {
    margin-bottom: 36px;

    font-size: 20px;
  }
}

@media @retina {

}
