.footer {
  padding-top: 39px;
  padding-bottom: 10px;

  color: rgb(255, 255, 255);

  background-color: rgb(137, 137, 137);
}

.footer__logo {
  display: block;
  margin-bottom: 21px;

  font-weight: 700;
  font-size: 28px;
  font-family: @font-main;
  color: rgb(255, 255, 255);
  letter-spacing: 0.05em;
}

.footer__menu-list {
  .reset-list;
}

.footer__item {
  margin-bottom: 14px;

  &:last-child {
    margin-bottom: 10px;
  }
}

.footer__link {
  font-size: 14px;
  font-family: @font-third;
  color: rgb(255, 255, 255);
}

.footer__tel {
  display: block;
  margin-bottom: 29px;

  font-size: 14px;
  font-family: @font-third;
}

.footer__social {
  .reset-list;

  margin-bottom: 26px;

  font-size: 0;
}

.footer__social-item {
  display: inline-block;
  width: 30px;
  height: 30px;

  background-repeat: no-repeat;
  background-position: center;

  & + & {
    margin-left: 19px;
  }

  &:first-child {
    width: 23px;

    background-image: url("../../../img/insta-footer.png");
  }

  &:last-child {
    background-image: url("../../../img/vk-footer.png");
  }
}

.footer__social-link {
  font-size: 0;
}

.footer__band {
  height: 1px;
  margin-bottom: 4px;

  background-color: rgba(255, 255, 255, 0.1);
}

.footer__copyrighted {
  font-size: 12px;
  font-family: @font-third;
  letter-spacing: 0.07em;

  opacity: 0.5;
}

@media @tablet {
  .footer {
    padding-top: 33px;
  }

  .footer__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer__logo {
    margin-right: 57px;

    font-size: 18px;
  }

  .footer__navigation {
    margin-bottom: 29px;
  }

  .footer__menu-list {
    display: flex;
    flex-wrap: wrap;
    width: 615px;
  }

  .footer__item {
    margin-right: 40px;
    margin-bottom: 0;

    &:last-child {
      margin-right: 0;
    }
  }

  .footer__link {
    font-size: 12px;
    letter-spacing: 0.01em;
  }

  .footer__tel {
    display: none;
  }

  .footer__social {
    order: 5;
    margin-bottom: 0;
  }

  .footer__band {
    width: 638px;
    margin: 0 45px 9px;
  }

  .footer__copyrighted {
    align-self: center;
    margin-right: 30px;
  }
}
